*{
    margin: 0;
    padding:0;
}
.header{
    background-color:#0F3040;
    padding: 20px;
   border-radius: 0 0 15px 15px;
   display: flex;
   justify-content:space-evenly;
}
a{
    color: #FFFFFF;
    /* padding: 110px; */
}
#search{
    border-radius: 50%;
    padding:4px;
}
#logo{
    height: 30px;
    width: 30px;
}
.herosection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
    background-color:#F5E9E5;
    color: #0F3040;
    line-height: 30px;
}


.hero-image {
    width: 45%;
}

.hero-image img {
    max-width: 450px;
}
#explore {
    background-color: #0F3040;
    color: #FFFFFF;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
}