*{
    margin: 0;
    padding:0;
}
.header{
    background-color:#0F3040;
    padding: 20px;
   border-radius: 0 0 15px 15px;
   display: flex;
   justify-content:space-evenly;
}
a{
    color: #FFFFFF;
    /* padding: 110px; */
}
#search{
    border-radius: 50%;
    padding:4px;
}
#logo{
    height: 30px;
    width: 30px;
}
.herosection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
    background-color:#F5E9E5;
    color: #0F3040;
    line-height: 30px;
}

.hero-image {
    width: 45%;
}

.hero-image img {
    max-width: 450px;
}
#explore {
    background-color: #0F3040;
    color: #FFFFFF;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
}
.product-text{
       color: #0F3040;
       text-align: center;
}
.product-section{
    padding: 20px;
}
.products{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       column-gap: 20px;
       row-gap: 20px;
       padding: 10px;
}
.product{
    border:2px solid #587786;
    border-radius: 10px;
    padding: 10px;
}
.price{
    color: #722615;
    padding: 5px;
}
.product-button{
    background-color: #0F3040;
    color: #FFFFFF;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
}
.product-images{
    height: 100px;
    width: 100px;
    border-radius: 15px;
}
@media (min-width:0px ) and (max-width:599px){
    .products{
        grid-template-columns: 1fr;
    }
}
@media (min-width:600px ) and (max-width:899px){
    .products{
        grid-template-columns: 1fr 1fr;
    }
}
.footer{
    background-color:#0F3040;
    padding: 20px;
   display: flex;
   justify-content:space-evenly;
}